<div class="row products">
	<h2>Friends</h2>

	<div class="row">
		<div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-6">
			<div class="input-group input-lg">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" class="form-control" ng-model="name" ng-change="autoFriendsSearch()" name="search" id="search" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="go_btn" ng-click="productScrape()"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</div>
	<br />
	<div>
		<div class="col-md-2 col-sm-3 col-xs-5 product" ng-repeat="friend in friends.friends">
			<div class="product-image" ng-controller="FriendCtrl">
				<a href="profile/{{ friend.facebookId }}"><img ng-src='https://graph.facebook.com/{{ friend.facebookId }}/picture?width=176&height=220' height="220" width="176"/></a>
				<p>
					<span><a href="profile/{{ friend.facebookId }}">{{ friend.fullName }}</a></span>
					<a title="Ajouter {{ friend.fullName }} à mon réseau" class="glyphicon glyphicon-star" ng-class="{favorized:friend.favorite}" ng-click="favorize()"></a> 
				</p>
			</div>
		</div>

		<div ng-hide="friends.friends.length || loading">Aucun de vos amis Facebook n'est pour l'instant sur Welovegifts, souhaitez-vous partager ce site avec eux ?</div>
	</div>
</div>

<script type="text/ng-template" id="welcomeFriends.html">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Qui sont vos meilleurs amis ?</h4>
	  </div>
	  <div class="modal-body">
		<p class="small">Welovegifts vous permet de selectionner les amis à qui vous offrez des cadeau en cliquant sur <span class="glyphicon glyphicon-star" style="color:#428BCA"></span>. Pour ces amis, nous vous préviendrons par mail quelques jours avant leur anniversaire.</p>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-primary" ng-click="close()" id="ok">Ok</button>
	  </div>
	</div>
</script>