<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Avez-vous réelement acheté "{{ product.name }}" ?</h4>
      </div>
      <div class="modal-body">
		<p class="small">Si vous cliquez sur oui, ce produit ne sera plus visible dans la liste, sauf pour {{ product.fullName }} pour que cela reste une surprise.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="cancel">Non, je n'ai pas acheté ce produit</button>
        <button type="button" class="btn btn-primary" id="validate">Oui, j'ai acheté ce produit</button>
      </div>
    </div>
  </div>
</div>


<script>
	$('.product-link').click(function (e) {
		//e.preventDefault();
		$('.modal').modal('show');
	});

	$('#cancel').click(function () {
		$('.modal').modal('hide');
	});

	$('#validate').click(function () {
		$.ajax({
			url: $('#path_have_bought').val(),
			data: 'productId=' + $('#productId').val(),
			success: function (data) {
				$('.modal').modal('hide');
			}
		});
	});
</script>