

<div class="row">
	<div class="col-md-5 col-sm-5 col-xs-5"><a href="#/">Retour</a></div>
</div>
<br />
<div class="row">
	<div class="col-md-5 col-sm-5 col-xs-5">
		<div class="productDetail">
			<a href="{{ product.url }}" target="_blank">
				<img ng-src="{{ product.imgUrl }}"></img>
			</a>
		</div>
	</div>
	<div class="col-md-5 col-sm-5 col-xs-5">
		<div class="product-desc">
			<p>
				<span ng-hide="editModeName">{{ product.name }}</span> 
				<a ng-click="editName()" ng-hide="editModeName" class="glyphicon glyphicon-pencil" title="modifier"></a>
				<input type="text" class="title" ui-keydown="{13:'saveName()', 27:'cancelEditName()'}" ng-show="editModeName" ng-model="product.name" data-ng-required />
				<a ng-click="cancelEditName()" ng-show="editModeName" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
				<a ng-click="saveName()" ng-show="editModeName" class="glyphicon glyphicon-ok-sign" title="ok"></a>
			</p>
			<p>
				<span ng-hide="editModePrice">{{ product.price }}</span>
				<a ng-click="editPrice()" ng-hide="editModePrice" class="glyphicon glyphicon-pencil" title="modifier"></a>
				<input type="text" class="price" ui-keydown="{13:'savePrice()', 27:'cancelEditPrice()'}" ng-show="editModePrice" ng-model="product.price" data-ng-required />
				<a ng-click="cancelEditPrice()" ng-show="editModePrice" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
				<a ng-click="savePrice()" ng-show="editModePrice" class="glyphicon glyphicon-ok-sign" title="ok"></a>
			</p>
			<p class="comment" ng-show="product.comment != ''">
				Commentaire laissé par {{ product.firstName }} : 
				<span ng-hide="editModeComment">{{ product.comment }}</span>
				<a ng-click="editComment()" ng-hide="editModeComment" class="glyphicon glyphicon-pencil" title="modifier"></a>
				<input type="text" class="title" ui-keydown="{13:'saveComment()', 27:'cancelEditComment()'}" ng-show="editModeComment" ng-model="product.comment" data-ng-required />
				<a ng-click="cancelEditComment()" ng-show="editModeComment" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
				<a ng-click="saveComment()" ng-show="editModeComment" class="glyphicon glyphicon-ok-sign" title="ok"></a>
			</p>
			<a href="{{ product.url }}" class="product-link btn btn-primary" target="_blank">Acheter</a>
		</div>
	</div>
</div>
<input type="hidden" id="productId" value="{{ product.id }}">

<div id="boughtModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Vous avez décidé de vous offrir ce cadeau finalement ?</h4>
      </div>
      <div class="modal-body">
		<p class="small">Si vous cliquez sur oui, votre produit disparaitra de votre liste.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="cancel">Non</button>
        <button type="button" class="btn btn-primary" id="validate">Oui, j'ai acheté ce cadeau</button>
      </div>
    </div>
  </div>
  <input type="hidden" value="{{ product.fullName }}" id="fullName" />
</div>

<script>
	$('.product-link').click(function (e) {
		//e.preventDefault();
		$('#boughtModal').modal('show');
	});

	$('#cancel').click(function () {
		$('#boughtModal').modal('hide');
	});

	$('#validate').click(function () {
		$.ajax({
			url: $('#path_product_remove').val() + "/" + $('#productId').val() ,
			success: function (data) {
				$('#boughtModal').modal('hide');
				$('.alert-notice').html('Génial !');
				$('.alert-notice').show();
			}
		});
	});
</script>
