<div class="row row-user-profile">
	<div class="col-md-2 col-sm-3 col-xs-2 user-profile">
		<div class="viewed-profile">
			<h2>{{ product.fullName }}</h2>
			<div class="profile-image">
				<div ng-style="{ 'background-image': 'url('+product.profilePic+')'}" class="cover"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-10 url-block">
		<div class="input-group url input-lg">
			<span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
			<input type="text" name="url" id="url" class="form-control" ng-model="url" placeholder="Copiez-collez l'URL des cadeaux que vous souhaitez recevoir !" ng-focus="mobileEmpty()" ui-keydown="{13:'productScrape($event)', 27:'productScrapeCancel()'}" />
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" id="go_btn" ng-click="productScrape($event)">
					<span ng-show="scrapeLoading" class="loader glyphicon glyphicon-refresh ng-hide" ></span>
					<span class="lbl">Go !</span>
				</button>
			</span>
		</div>
		<div class="suggestionList">
			<div class="suggestionBtn">
				<button class="btn" ng-click="productSuggest()"><span class="glyphicon glyphicon-list"></span><span> Suggestions</span></buttion>
			</div>
			<div>
				<ul ng-show="suggestions != undefined">
					<li ng-repeat="suggestion in suggestions"><a href="" ng-click="suggestionTest($event, suggestion)">{{ suggestion.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="completeContainer" ng-hide="(scrappedProduct == null || scrappedProductHide == true)" class="col-md-6 col-sm-6 col-xs-8 ng-hide">
		<div id="complete">
			<div id="product" class="row">
				<div class="col-md-5 col-sm-5 col-xs-4 imageContainer">
					<img ng-show="imageLoading" src="../../bundles/newstartcommon/images/loader.gif" />
					<div ng-style="{ 'background-image': 'url('+scrappedProduct.imgThumb+')'}" class="previewImg cover" ng-swipe-right="nextImg()"></div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-6">
					<h4>
						<span class="productTitle" ng-hide="editModeTitle">{{ scrappedProduct.title }}</span>
						<textarea class="title" ng-show="editModeTitle" ng-model="scrappedProduct.title" data-ng-required></textarea>
						<a ng-click="editTitle()" ng-hide="editModeTitle" class="glyphicon glyphicon-pencil" title="modifier"></a>
						<a ng-click="cancelEditTitle()" ng-show="editModeTitle" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
						<a ng-click="saveTitle()" ng-show="editModeTitle" class="glyphicon glyphicon-ok-sign" title="ok"></a>
					</h4>
					<p class="price">
						<span ng-hide="editModePrice">{{ scrappedProduct.price }}</span> 
						<input type="text" class="title" ui-keydown="{13:'savePrice()', 27:'cancelEditPrice()'}" ng-show="editModePrice" ng-model="scrappedProduct.price" data-ng-required />
						<a ng-click="editPrice()" ng-hide="editModePrice" class="glyphicon glyphicon-pencil" title="modifier"></a>
						<a ng-click="cancelEditPrice()" ng-show="editModePrice" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
						<a ng-click="savePrice()" ng-show="editModePrice" class="glyphicon glyphicon-ok-sign" title="ok"></a>
					</p>
					<textarea ng:model="scrappedProduct.comment" id="comment" placeholder="Vous pouvez préciser la couleur, la taille..."></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-4 imageBtns">
					<button class="btn prev" ng-hide="(scrappedProduct == null || scrappedProductHide == true)" type="button" ng-click="prevImg()"><span class="glyphicon glyphicon-arrow-left"></span></button>
					<span class="index" ng-hide="(scrappedProduct == null || scrappedProductHide == true)">{{ imageIndex + 1 }} / {{ scrappedProduct.imgNumber }}</span>
					<button class="btn next" ng-hide="(scrappedProduct == null || scrappedProductHide == true)" type="button" ng-click="nextImg()"><span class="glyphicon glyphicon-arrow-right"></span></button>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-6 btns">
					<button class="btn btn-primary" ng-hide="(scrappedProduct == null || scrappedProductHide == true)" type="button" id="save_btn" ng-click="productSave(scrappedProduct)"><span ng-show="productLoading" class="loader glyphicon glyphicon-refresh"></span>Enregistrer</button>
					<button class="btn" type="button" ng-hide="(scrappedProduct == null || scrappedProductHide == true)" ng-click="productScrapeCancel()" id="Annuler">Annuler</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row alerts" style="display:none;margin-top:15px;">
	<div class="alert alert-info" ng-show="info">{{ info }}</div>
	<div class="alert alert-danger" ng-show="danger">{{ danger }}</div>
	<div class="alert alert-warning" ng-show="warning">{{ warning }}</div>
	<div class="alert alert-success" ng-show="success">{{ success }}</div>
	<div class="alert alert-notice" ng-show="notice">{{ notice }}</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-5"><a href="me/">Retour</a></div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-10">
			<div class="productDetail">
				<a href="{{ product.url }}" target="_blank">
					<div ng-style="{ 'background-image': 'url('+product.imgUrl+')', 'height':'500px' }" class="cover"></div>
				</a>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-10">
			<div class="product-desc">
				<p>
					<span ng-hide="editModeName">{{ product.name }}</span> 
					<a ng-click="editName()" ng-hide="editModeName" class="glyphicon glyphicon-pencil" title="modifier"></a>
					<input type="text" class="title" ui-keydown="{13:'saveName()', 27:'cancelEditName()'}" ng-show="editModeName" ng-model="product.name" data-ng-required />
					<a ng-click="cancelEditName()" ng-show="editModeName" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
					<a ng-click="saveName()" ng-show="editModeName" class="glyphicon glyphicon-ok-sign" title="ok"></a>
				</p>
				<p>
					<span ng-hide="editModePrice">{{ product.price }}</span>
					<a ng-click="editPrice()" ng-hide="editModePrice" class="glyphicon glyphicon-pencil" title="modifier"></a>
					<input type="text" class="price" ui-keydown="{13:'savePrice()', 27:'cancelEditPrice()'}" ng-show="editModePrice" ng-model="product.price" data-ng-required />
					<a ng-click="cancelEditPrice()" ng-show="editModePrice" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
					<a ng-click="savePrice()" ng-show="editModePrice" class="glyphicon glyphicon-ok-sign" title="ok"></a>
				</p>
				<p class="comment" ng-show="(product.comment != '' && loading == false) || editModeComment">
					Commentaire laissé par {{ product.firstName }} : 
					<span ng-hide="editModeComment">{{ product.comment }}</span>
					<a ng-click="editComment()" ng-hide="editModeComment" class="glyphicon glyphicon-pencil" title="modifier"></a>
					<input type="text" class="title" ui-keydown="{13:'saveComment()', 27:'cancelEditComment()'}" ng-show="editModeComment" ng-model="product.comment" data-ng-required />
					<a ng-click="cancelEditComment()" ng-show="editModeComment" class="glyphicon glyphicon-remove-sign" title="annuler"></a>
					<a ng-click="saveComment()" ng-show="editModeComment" class="glyphicon glyphicon-ok-sign" title="ok"></a>
				</p>
				<p><a ng-click="editComment()" ng-show="product.comment == ''" title="modifier">Ajouter des précisions <span class="glyphicon glyphicon-pencil"></span></a></p>
				<a href="{{ product.url }}" class="product-link btn btn-primary" ng-click="open()" target="_blank">Acheter</a>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="productId" value="{{ product.id }}" />


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-content">
	<div class="modal-header">
	<button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Vous avez décidé de vous offrir ce cadeau ?</h4>
	</div>
	<div class="modal-body">
	<p class="small">Si vous cliquez sur oui, votre produit disparaitra de votre liste.</p>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn" id="cancel" ng-click="cancel()">Non</button>
	<button type="button" class="btn btn-primary" id="validate" ng-click="ok()">Oui, j'ai acheté ce cadeau</button>
  </div>
  <input type="hidden" value="{{ product.fullName }}" id="fullName" />
</script>

