<div class="row row-user-profile">
	<div class="col-md-2 col-sm-2 col-xs-4 user-profile">
		<div class="viewed-profile">
			<h2><a href="/profile/{{ product.fbUserId }}">{{ product.fullName }}</a></h2>
			<br />
			<div class="profile-image">
				<a href="/profile/{{ product.fbUserId }}">
					<div style="background:url(https://graph.facebook.com/{{ product.fbUserId }}/picture?width=180&height=180) no-repeat scroll center center / cover;"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row alerts" style="display:none;margin-top:15px;">
	<div class="alert alert-info" ng-show="info">{{ info }}</div>
	<div class="alert alert-danger" ng-show="danger">{{ danger }}</div>
	<div class="alert alert-warning" ng-show="warning">{{ warning }}</div>
	<div class="alert alert-success" ng-show="success">{{ success }}</div>
	<div class="alert alert-notice" ng-show="notice">{{ notice }}</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-8 col-sm-5 col-xs-5"><a href="profile/{{ product.fbUserId }}">Retour</a>
	</div>
	<br />
	<div class="col-md-5 col-sm-5 col-xs-10">
		<div class="productDetail">
			<a href="{{ product.url }}" target="_blank">
				<div style="background:url({{ product.imgUrl }}) no-repeat scroll center center / cover; height:500px"></div>
			</a>
		</div>
	</div>
	<div class="col-md-5 col-sm-5 col-xs-5">
		<div class="product-desc">
			<p>{{ product.name }}</p>
			<p>{{ product.price }}</p>
			<p class="comment small">{{ product.comment }}</p>
			<a href="{{ product.url }}" class="product-link btn btn-primary" target="_blank" ng-click="open()">Acheter</a>
		</div>
	</div>
</div>
<input type="hidden" id="productId" value="{{ product.id }}">

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Vous avez décidé d’acheter ce cadeau finalement ?</h4>
	  </div>
	  <div class="modal-body">
		<p class="small">Si vous cliquez sur oui, le cadeau disparaitra ne sera plus visible dans la liste, sauf pour {{ firstName }}, pour lui garder la surprise ;-)</p>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn" id="cancel" ng-click="cancel()">Non</button>
	    <button type="button" class="btn btn-primary" id="validate" ng-click="buy()">Oui, j'ai acheté ce cadeau</button>
	  </div>
	</div>
</script>

