
<h3>{{ product.name }}</h3>

<div class="col-md-5 col-sm-5 col-xs-5">
	<a href="{{ product.url }}" target="_blank"><img ng-src="{{ product.imgUrl }}"></img></a>
</div>

<div class="col-md-5 col-sm-5 col-xs-5">
	<p class="comment small">{{ product.comment }}</p>
	<a href="#/profile/{{ product.fbUserId }}">Retour</a>
	<a href="{{ product.url }}" class="product-link btn btn-primary" target="_blank">Acheter</a>
</div>
<input type="hidden" id="productId" value="{{ product.id }}">


<div ng-include src="'../../partials/modal-handle.html'"></div>