<div class="row row-user-profile">
	<div class="col-md-2 col-sm-2 col-xs-4 user-profile">
		<div class="viewed-profile">
			<h2><a href="/profile/{{ products.user.facebookId }}">{{ products.user.fullName }}</a> <a title="Ajouter {{ friend.fullName }} à mon réseau" class="glyphicon glyphicon-star" ng-class="{favorized:products.user.favorite}" ng-click="favorize()"></a></h2>
			<p class="birthday" ng-hide="loading">{{ products.user.birthday | date:'dd MMMM' }} ({{ products.user.daysToBirthday }} jours)<p>
			<div class="profile-image">
				<a href="/profile/{{ products.user.facebookId }}">
					<div ng-style="{ 'background-image': 'url('+products.user.profilePic+')' }" class="cover"></div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6"><h2>Sa liste de cadeaux</h2></div>
</div>	
<div class="row products">
	<div class="col-md-2 col-sm-3 col-xs-5 product" ng-repeat="product in products.products">
		<div class="product-image" ng-controller="ProductItemCtrl">
			<a href="#/profile/{{ product.fbUserId }}/product/{{product.id}}">
				<div ng-show="product.beenBought == 1" class="beenBought">Acheté</div>
				<div ng-style="{ 'background-image': 'url('+product.thumb_url+')' }" class="cover"></div>
			</a>
			<p>
				<span class="name"><span class="price">{{ product.price }}</span><a href="#/profile/{{ product.fbUserId }}/product/{{product.id}}">{{ product.name }}</a></span>
			</p>
		</div>
	</div>
	<div ng-hide="products.products.length || loading">Aucun cadeau n'a été enregistré pour le moment.</div>
</div>
