<h1>Qu'est-ce qu'HaveFyve ?</h1>
<p>Vous avez déjà reçu des cadeaux bizarres ?</p>
<p>Des cadeaux inutiles ?</p>
<p>Vous en avez un peu marre?</p>

<p>Nous aussi.</p>

<p>Connectez-vous sur Havefyve, pour recevoir les cadeaux qui vous font vraiment plaisir.</p>

<p>Comment ca fonctionne ?</p>

<p>C'est très simple : sur internet, dès que vous trouvez des cadeaux qui vous font vraiment envie, copiez le lien sur votre profil Havefyve, c’est tout.</p>

<p>Vous pouvez en enregistrez jusqu’à cinq. Pour vos proches, c’est cinq chance sur cinq de faire le bon choix et de vous offrir ce qui vous fera réellement pour votre anniversaire, Noël, la Saint Valentin, ou juste parce qu’ils ont envie de vous rendre heureux.</p>

<p>C’est simple, sympa, utile.</p>

<p>Sur Havefyve, vos amis ont aussi jusqu’à cinq idées de cadeaux c’est donc aussi la meilleure façon d'offrir à vos amis les cadeaux qui leur feront réellement plaisir.</p>

<br />

<p>Havefyve, cinq sur cinq.</p>

</p>