{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<h1 class="landing">HaveFyve</h1>
	<h2 style="font-size:18px;">Vos meilleurs cadeaux</h2>
	<noscript>
		<div class="container">
			<p class="whiteText" style="margin-top:25%;">HaveFyve necessite l'activation de Javascript pour fonctionner correctement</p>
		</div>
	</noscript>
	
	<br />
	<br />
	<p>
		<button class="btn btn-primary" id="connect" onclick="fb_login();">> Se connecter via Facebook</button>
		<button class="btn btn-primary" id="disconnect" onclick="fb_logout();">Déconnexion</button>
	</p>
	<p>
		<a class="faq">> Qu'est-ce qu'HaveFyve ?</a>
	</p>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		body:before {
			background:url('http://farm5.staticflickr.com/4038/4654423909_4b0363aaa2.jpg');
			background-size: cover;
			filter: url("#blur-effect");
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
