{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include '::header.html.twig' %}
		<div class="row products feed">
			<h2>Derniers cadeaux</h2>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/i/m/img_9792.jpg' class="img-responsive" />
					<p><span>Casque audio Bose</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/alban.margain/picture?width=20&height=20" /> <span class="sharename">Alban Margain</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://images.apple.com/fr/ipad-mini/overview/images/overview_hero.jpg' class="img-responsive" />
					<p><span>Apple - iPad Mini</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/thomas.alban.96/picture?width=20&height=20" /> <span class="sharename">Thomas Alban</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.monsieurpignonmadameguidon.com/wp-content/uploads/2012/04/aerospoke-fixie.jpg' class="img-responsive" />
					<p><span>Aerospoke arrière noire</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/rico.l.deau/picture?width=20&height=20" height="20px"/> <span class="sharename">Rico Martin d'Auray</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src="http://img.edel-optics.fr/products/Yves-Saint-Laurent-CLASSIC-3-NE2EJ-Evg4gb4EvbWW.jpg" class="img-responsive" />
					<p><span>Lunettes Saint Laurent</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/tandre/picture?width=20&height=20" /> <span class="sharename">Thomas André</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://design.midiblogs.com/media/02/00/477032475.jpg' class="img-responsive" />
					<p><span>Lampe style studio photo</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/timothee.fauvel/picture?width=20&height=20" /> <span class="sharename">Timothée Fauvel</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.monsieurpignonmadameguidon.com/wp-content/uploads/2012/04/aerospoke-fixie.jpg' class="img-responsive" />
					<p><span>Aerospoke arrière noire</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/flepoul/picture?width=20&height=20" height="20px"/> <span class="sharename">François le Poul</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/i/m/img_9792.jpg' class="img-responsive" />
					<p><span>Casque audio Bose</span></p>
					<p class="sharefriend"><img src="https://graph.facebook.com/alban.margain/picture?width=20&height=20" /> <span class="sharename">Alban Margain</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://images.apple.com/fr/ipad-mini/overview/images/overview_hero.jpg' class="img-responsive" />
					<p><span>Apple - iPad Mini</span></p>
					<p><img src="https://graph.facebook.com/thomas.alban.96/picture?width=20&height=20" /> <span>Thomas Alban</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.monsieurpignonmadameguidon.com/wp-content/uploads/2012/04/aerospoke-fixie.jpg' class="img-responsive" />
					<p><span>Aerospoke arrière noire</span></p>
					<p><img src="https://graph.facebook.com/rico.l.deau/picture?width=20&height=20" height="20px"/> <span>Rico Martin d'Auray</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src="http://img.edel-optics.fr/products/Yves-Saint-Laurent-CLASSIC-3-NE2EJ-Evg4gb4EvbWW.jpg" class="img-responsive" />
					<p><span>Lunettes Saint Laurent</span></p>
					<p><img src="https://graph.facebook.com/tandre/picture?width=20&height=20" /> <span>Thomas André</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/i/m/img_9792.jpg' class="img-responsive" />
					<p><span>Casque audio Bose</span></p>
					<p><img src="https://graph.facebook.com/alban.margain/picture?width=20&height=20" /> <span>Alban Margain</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.monsieurpignonmadameguidon.com/wp-content/uploads/2012/04/aerospoke-fixie.jpg' class="img-responsive" />
					<p><span>Aerospoke arrière noire</span></p>
					<p><img src="https://graph.facebook.com/rico.l.deau/picture?width=20&height=20" height="20px"/> <span>Rico Martin d'Auray</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://images.apple.com/fr/ipad-mini/overview/images/overview_hero.jpg' class="img-responsive" />
					<p><span>Apple - iPad Mini</span></p>
					<p><img src="https://graph.facebook.com/thomas.alban.96/picture?width=20&height=20" /> <span>Thomas Alban</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src="http://img.edel-optics.fr/products/Yves-Saint-Laurent-CLASSIC-3-NE2EJ-Evg4gb4EvbWW.jpg" class="img-responsive" />
					<p><span>Lunettes Saint Laurent</span></p>
					<p><img src="https://graph.facebook.com/tandre/picture?width=20&height=20" /> <span>Thomas André</span></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.monsieurpignonmadameguidon.com/wp-content/uploads/2012/04/aerospoke-fixie.jpg' class="img-responsive" />
					<p><span>Aerospoke arrière noire</span></p>
					<p><img src="https://graph.facebook.com/flepoul/picture?width=20&height=20" height="20px"/> <span>François le Poul</span></p>
				</div>
			</div>
		</div>

	</div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/newstartcommon/js/vendor/jquery.resizecrop-1.0.3.min.js') }}"></script>
	<script>
		$('.product img.img-responsive').resizecrop({
		  width:180,
		  height:180,
		  vertical:'top'
		});

	</script>


{% endblock %}

