{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include '::header.html.twig' %}
		<div class="row products">
			<h2>Friends</h2>
			<div class="col-md-2 col-sm-3 col-xs-5 product">
				<div class="product-image">
					<img src='http://www.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/i/m/img_9792.jpg' class="img-responsive" />
					<p><span>Casque audio Bose</span></p>
					<p><img src="https://graph.facebook.com/alban.margain/picture?width=20&height=20" /> <span>Alban Margain</span></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}