{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include '::header.html.twig' %}
		<div class="row products">
			<h2>Friends</h2>
			{% for friend in user.getMyFriends() %}
				<div class="col-md-2 col-sm-3 col-xs-5 product">
					<div class="product-image">
						<a href="{{ path('profile', {userId:friend.getFacebookId}) }}#/profile/{{ friend.getFacebookId }}"><img src='https://graph.facebook.com/{{ friend.getFacebookId() }}/picture?width=183&height=220' height="220" width="183"/></a>
						<p><span>{{ friend.getFullName() }}</span></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}