<!doctype html>
<html lang="fr" xmlns:fb="http://www.facebook.com/2008/fbml" ng-app="havefyveApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Welovegifts, " />
        <meta name="keywords" content="cadeaux, social" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welovegifts{% endblock %}</title>
        {% stylesheets 
                       'bundles/newstartcommon/css/vendor/bootstrap/css/bootstrap.css' 
                       'bundles/newstartcommon/css/vendor/normalize.css'
                       'bundles/newstartcommon/css/vendor/style.css'
                       'bundles/newstartcommon/css/main.css'
          filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <span class="right-link">
          <a href="#" id="bugReport">Contactez-nous !<span class="glyphicon glyphicon-pencil"></span></a>
        </span>
        {% block body %}{% endblock %}
        <input type="hidden" id="path_bug_report" value="{{ path('bug_report') }}" />
        <div id="bugReportModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Dites-nous tout !</h4>
              </div>
              <div class="modal-body">
                <form>
                  <p>Message : </p>
                  <textarea id="conditions"></textarea>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="bugReportSend">Envoyer</button>
              </div>
            </div>
          </div>
        </div>
        <div id="fb-root"></div>


        {% javascripts 
              '@newStartCommonBundle/Resources/public/js/vendor/jquery-1.9.1.min.js'
              '@newStartCommonBundle/Resources/public/js/main.js'
              '@newStartCommonBundle/Resources/public/js/vendor/jquery.ba-outside-events.min.js'
              '@newStartCommonBundle/Resources/public/css/vendor/bootstrap/js/bootstrap.min.js'
              '@newStartCommonBundle/Resources/public/js/vendor/angular.min.js'
              '@newStartCommonBundle/Resources/public/js/vendor/keypress.js'
              '@newStartCommonBundle/Resources/public/js/vendor/ui-bootstrap-custom-tpls-0.10.0.min.js'
              '@newStartCommonBundle/Resources/public/js/vendor/angular-resource.js'
              '@newStartCommonBundle/Resources/public/css/vendor/bootstrap/js/bootstrap.min.js'
              '@newStartCommonBundle/Resources/public/js/app_ng.js'
              '@newStartCommonBundle/Resources/public/js/controllers.js'
              '@newStartCommonBundle/Resources/public/js/services.js'
          %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47974421-1', 'welovegifts.fr');
            ga('send', 'pageview');
          </script>
        {% endblock %}
    </body>
</html> 