		<div class="header">
			<div class="logo">
				<span class="logo"><a href="{{ path('public_home') }}" style="text-align:left"><span class="glyphicon glyphicon-home"></span>HaveFyve</a></span>
			</div>
			<div class="menu">
				<span id="profile">
					<a href="#" onclick="fb_login();">
						Se connecter via Facebook
					</a>
				</span>
			</div>
		</div>


