		<div class="header">
			<div class="logo">
				<span class="logo"><a href="{{ path('public_home') }}" style="text-align:left"><span class="glyphicon glyphicon-home"></span>HaveFyve</a></span>
			</div>
			<div class="menu">
				<span id="profile">
					<a href="{{ facebook.loginUrl({ redirect_uri: url('fblogin'), scope: 'email, user_birthday, user_likes, user_interests' }) }}">
						Se connecter via Facebook
					</a>
				</span>
			</div>
		</div>


