parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport: smtp
    mailer_user: notification@havefyve.com
    mailer_password: nothavefyve
    mailer_host: smtp.havefyve.com
    mailer_sender_address: notification@havefyve.com
    mailer_sender_name: Welovegifts
    
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

    router.request_context.host: welovegifts.fr
    router.request_context.scheme: http
    router.request_context.base_url: ''
    pdo.db_options:
        db_table:    session
        db_id_col:   session_id
        db_data_col: session_value
        db_time_col: session_time
