@media screen and (max-width: 480px) {
	html {
		background: url(../images/background_480.jpg) no-repeat center center fixed !important; 
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
	html {
		background: url(../images/background_1024.jpg) no-repeat center center fixed !important; 
	}
}

@media screen and (min-width: 1024px) and (max-width: 1450px) {
	html {
		background: url(../images/background_1450.jpg) no-repeat center center fixed !important; 
	}
}

@media screen and (min-width: 1450px) {
	html {
		background: url(../images/background_original.jpg) no-repeat center center fixed !important; 
	}
}


html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}

body {
	background: none;
}
