body {
    background:none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
body:before {
    position: absolute;
    z-index: -1; /* Keep the background behind the content */
    height: 100%; 
    width: 100%;
    content: "";

    /* don't forget to use the prefixes you need */
    -webkit-transform: scale(1);
    -webkit-transform-origin: top left;
    -webkit-filter: blur(7px) opacity(0.25) saturate(2.8);

    -moz-transform: scale(2);
    -moz-transform-origin: top left;
    opacity: 0.25;
    -moz-filter: contrast(150%);

    transform: scale(1);
    transform-origin: top left;
    /*filter: blur(3px) opacity(0.25) saturate(2.8);*/
    color: #fff;    
}
p.login {
    text-align: center;
    margin:56px 0 0 -20px;
}
#connect, #disconnect, #login {
    display: none;
}
.form-register {
	max-width: 450px;
	width: 450px;
	padding: 15px;
	margin: 0 auto;
}
.product-desc {
    padding:8px;
}
.right-link {
    display: block;
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 10;
}
.right-link a {
    background-color: #CA2D56;
    padding: 7px 10px;
    color: #FFFFFF;    
}
.right-link a span.glyphicon {
    margin-left:10px;
}
#slide-home h1, #slide-home h2, #slide-home h3, #slide-home p, #slide-home a, .whiteText {
	color: #fff;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
#conditions, #causes {
    width: 537px; 
    height: 133px;
}
h1 {
	font-size:43px;
    font-weight: 300;
    margin: 0.2em 0;
}
h2 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
p {
    font-size:16px;
}
body. {
	background-color: #fafafa;
}
html,body {
    margin:0; padding:0; height:100%;
}
#slide-home, #slide-faq {
	min-height:750px;
	width:100%;
}
#slide-faq {
	padding:50px;
	background-color:#fff;
}
a.faq {
	position:absolute;
	margin-top:110px;
	cursor:pointer;
    font-weight: 300;
}
.friend p {
	font-size:17px;
	line-height:normal;
}
.friend p .glyphicon {
	line-height: 1;
	font-size: 12px;
    position: absolute;
    top: 74px;
    left:250px;
}
.friend p a {
	text-overflow:ellipsis;
	display: block;
    height: 20px;
}

.friend {
	margin-bottom: 5px;
	padding: 0 2px;
	box-shadow: 2px 2px 2px #CCCCCC;

}
.myWell {
	background-color:#;
    padding: 4px;
    background-color:#fff;
	font-weight: 200;
}
.selected .myWell {
	border-color:#00349a;
}
.friend.notSelected span.glyphicon {
	display:none;
}
.friends {
	height:340px;
	overflow:scroll;
	margin:5px 0;
	color:#0A0A5A;
	padding:12px 0;
	border-width: 1px;
	margin: 2px;
}

/* ----- Header ----- */
.header {
    background-color: #0A0A5A;
    display: block;
    height: 45px;
    margin: 0 -15px;
    padding: 9px;
}
.header .glyphicon {
    vertical-align: top;
}
.header span, .header li {
    background-color: #0A0A5A;
    padding-right: 5px;
    padding-left: 5px;
}
.header div.menu, .header div.logo {
    padding-top: 3px;
}
.header div.logo {
    float:left;
}
.header div.menu {
    float:right;
}
.header div {
    display:inline-block;
}
.header a {
    color: #FFFFFF;
    font-weight: 200;
}
.header .menu-links {
    margin-right: 60px;
}
.header .settings span {
    top: 4px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    font-size: 12px;
}
.header a .glyphicon {
    right: 7px;
}
.header a:hover {
    color:#E0E0E0;
}
.header .ddown-menu li {
    list-style: none outside none;
    padding-bottom: 10px;
}
.header .ddown-menu li a {
    text-align: left;
    padding:0 15px;
}
div.ddown {
    width:100%;
    margin: 0 9px;
}
.header .ddown-menu {
    display: none;
    float: right;
    position: relative;
    width: 130px;
    z-index: 10;
    top: 13px;
}

.profile-image {
    background-color: #FFFFFF;
    border-color: #000000;
    box-shadow: 1px 1px 5px #CCCCCC;
    color: #000000;
    margin: 14px 0;
    padding: 8px;
    text-align: left;
    width: 196px;
}

/* ----- Products ----- */
.productDetail {

}
.productDetail img {
    max-width:500px;
    border-color: #000000;
    box-shadow: 1px 1px 5px #CCCCCC;
    color: #000000;
    margin: 14px 0;
    padding: 8px;
}
.product img {
	-ms-interpolation-mode: bicubic;
    border: 1px solid #F1F1F1 !important;
}
.product {
	margin-bottom: 10px;
	padding:0 3px;
}
.product-image {
	background-color: #FFF;
    border-color: #000000;
    box-shadow: 1px 1px 5px #CCCCCC;
    color: #000000;
    height: 278px;
    padding: 10px;
    text-align: left;
}
.product-image .cadre {
    background-color: #EAEAEA;
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 1px;
    height: 220px;
}
.product-image p {
    font-size: 12px;
    height: 35px;
    margin-top: 7px;
    overflow: hidden;
    font-weight: 200;
}
.product-image .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
}
.product-image span.glyphicon-camera {
    color: #C0C0C0;
    font-size: 40px;
    margin-top: 75px;
    text-align: center;
    width: 182px;
}
.product-image .glyphicon-trash, .product-image .glyphicon-star {
    position:absolute;
    left:176px;
    top:248px;
    cursor:pointer;
}
.product-image .glyphicon-star.favorized {
    color:#428BCA;
}
.product-image .glyphicon-star {
    color:#ddd;
}

/* ----- URL Field ----- */
div.url {
	margin:145px 0 0;
}
#url-block {
    margin: 20px 0;
}
.url-block {
	text-align: center;
}
.btn-primary {
	background-color: #0A0A5A;
	border-color: #0A0A5A;
}
.btn-primary:hover {
    background-color: #1B1B7B;
    border-color: #1B1B7B;
}


/* ----- Missing Gift ----- */
.missing-gift {
	font-size: 58px;
    height: 220px;
    text-align: center;
    border-style:dashed;
    border-color:#1B1B7B;
    color:#0A0A5A;
    border-radius: 5px;
    background-color:#FAFAFD;
    border-width:2px;
}
.missing-gift span {
    border-radius: 47px 47px 47px 47px;
    border-style: dotted;
    border-width: 2px;
    display: block;
    height: 90px;
    left: 65px;
    position: absolute;
    top: 65px;
    vertical-align: middle;
    width: 90px;
}


/* ----- Friends Profile ----- */
.viewed-profile {
	margin-top:50px;
}
.user-profile {
	padding-left: 0px;
	padding-right: 0px; 
}
.viewed-profile h2 {
	margin: 12px 1px 0;
}
.form-control, .btn {
	font-weight:200;
}
.url .form-control, .url button {
    height:40px;
}
.row-user-profile {
    border-width: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* ----- Product Scrape ----- */
div#complete {
    background-color: #FFFFFF;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-left: 55px;
    padding: 6px;
    position: absolute;
    text-align: left;
    top: -11px;
    width: 466px;
    z-index: 5;
}
#complete .row {
    margin-bottom: 5px;
}
#complete textarea {
    font-weight:100;
}
span.loader {
    display: inline-block;
	margin-right: 5px;
}
.loader.glyphicon {
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
}

/* ----- Background ----- */
@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from{
        -moz-transform: rotate(0deg);
    }
    to{
        -moz-transform: rotate(360deg);
    }
}
h4 {
    font-weight: 100;
}
.cadre span {
    color: #A0A0A0;
    font-size: 43px;
    top: 72px;
}
.hide {
    display:none;
}
.show {
    display:block;
}

/* ----- Feed ----- */
.feed .product-image p {
    font-size: 13px;
    margin-top:10px;
}
.feed .product-image p .sharename {
    margin: 0 5px;
}
.feed .product-image {
    height: 266px;
}
.row .products {
    padding:0 0 0 13px;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control span {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 30px;
    padding: 10px 13px 12px 11px;
    top: 300px;
}
.carousel-indicators li {
    border: none;
    background-color: #c0C0C0;
}
.profileUrl {
    margin-top:10px;
}