.form-register {
	max-width: 450px;
	width: 450px;
	padding: 15px;
	margin: 0 auto;
}

html { 
  background: url(../images/5872629189_ba71e8b841_o.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}

body {
	background: none;
}

h1, h2, h3, p {
	color: #fff;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

h1 {
	font-size:60px;
}
p {
	font-size:30px;
}

@media screen and (max-width: 1024px) {
  html {
	
  }
}