.form-register {
	max-width: 450px;
	width: 450px;
	padding: 15px;
	margin: 0 auto;
}

#slide-home h1, #slide-home h2, #slide-home h3, #slide-home p, #slide-home a, .whiteText {
	color: #fff;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

h1 {
	font-size:60px;
}
p {
	font-size:30px;
}

#slide-home, #slide-faq {
	min-height:750px;
	width:100%;
}
#slide-faq {
	padding:50px;
	background-color:#fff;
}
a.faq {
	position:absolute;
	margin-top:110px;
	cursor:pointer;
}
.friend p {
	font-size:17px;
	line-height:normal;
}
.friend p .glyphicon {
	line-height: 1;
	font-size: 12px;
    position: absolute;
    top: 74px;
    left:250px;
}
.friend p a {
	text-overflow:ellipsis;
	display: block;
    height: 20px;
}

.friend {
	margin-bottom: 5px;

}
.myWell {
	background-color:#fff;
    padding: 7px;
    border-radius:3px;
	border-style:solid;
	border-color:#949494;
}
.selected .myWell {
	border-color:#00349a;
}
.friend.notSelected span.glyphicon {
	display:none;
}
.friends {
	height:500px;
	overflow:scroll;
	margin:5px 0;
	border-style:solid;
	border-radius:3px;
	border-color:#949494;
	padding:12px 0;
	border-width: 1px;
}