<p>{{ username }} s’est inscrit sur Havefyve, va voir <a href="{{ profileUrl }}#/profile/{{ user.facebookId }}">son profil</a> dès maintenant pour connaitre ses cadeaux !</p>

<p>L'équipe d'Havefyve.</p>

<p><a href='{{ settingsUrl }}'>Ne plus recevoir les emails</a></p>