<p>C'est bientôt ton anniv’ et c’est le moment de remplir ton profil de cadeaux pour recevoir tout ce dont tu as vraiment envie !</p>

<p>Et ça évitera qu’on pense que t’adorerais des chaussettes en moutons.</p>

<p>L'équipe d'Havefyve.</p>

<p><a href='{{ settingsUrl }}'>Ne plus recevoir les emails</a></p>