
/**************
 * Content Tile
 **************/
.content-tile {
  position: relative;
  /* content-tile used in home page */

  /* //.tile-copy */

  /* content-tile used in sub-category page */

  /* //.tile-copy-02 */

  /* //.featured-collection-type-02 */

  /* //.featured-collection-type-03 */

  /* //.featured-collection-type-04 */

  /* //.featured-collection-type-05 */

}

.standard-one-column-left-nav-template section .size-chart{
	text-align: center;
}
.content-tile img {
  width: 100%;
}
.content-tile .tile-copy {
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  margin: 0 30%;
  padding: 2% 3% 3%;
  color: #fff;
  z-index: 1;
  font-family: 'TradeGothicLTStdCnNo.18', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.content-tile .tile-copy h1 {
  margin: 0 0 5px 0;
  line-height: 1;
}
.content-tile .tile-copy p {
  padding: 1em 0;
  line-height: 1.2em;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
}
.content-tile .tile-copy a.cta {
  display: block;
  width: 29px;
  height: 29px;
  margin: 0 auto;
  background: transparent url(../img/indicators/wbra.png) no-repeat 0 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.content-tile .tile-copy a.cta:hover {
  background: transparent url(../img/arrow-medium-next-hover.png) no-repeat;
}
.content-tile .tile-copy a.arrow-left {
  text-align: left;
  background: transparent url(../img/indicators/wbla.png) no-repeat 0 0;
}
.content-tile .tile-copy a.arrow-right {
  text-align: right;
}
.content-tile .tile-copy a.arrow-left:hover {
  background: transparent url(../img/arrow-medium-previous-hover.png) no-repeat;
}
.content-tile .tile-copy a.arrow-right:hover {
  background: transparent url(../img/arrow-medium-next-hover.png) no-repeat right center;
}
.content-tile .tile-copy-02 {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-transform: uppercase;
}
.content-tile .tile-copy-02 h1 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #fff;
  font-size: 4.5em;
  font-weight: 400;
  line-height: 0.7em;
  margin: 10% 0 0;
}
.content-tile .tile-copy-02 h1 sup {
  font-family: Arial;
  font-size: .28em;
  top: -1.4em;
}
.content-tile .tile-copy-02 hr {
  background-color: #FFF;
  border: medium none;
  height: 2px;
  width: 20%;
  margin: 10px auto;
}
.lt-ie8 .content-tile .tile-copy-02 hr {
  margin: 5px auto 0;
}
.content-tile .tile-copy-02 p {
  color: #FFF;
  font-family: "TradeGothicLTStdCnNo.18", sans-serif;
  font-size: 1em;
  width: 610px;
  margin: 0 auto;
}
.content-tile .featured-collection-type-02 {
  /* Standard Collection Header type */

  position: absolute;
  left: 0;
  width: 100%;
  zoom: 1;
  color: #000;
  top: 30%;
}
.content-tile .featured-collection-type-02 h1 {
  text-transform: uppercase;
  padding: 0;
  font: 3.75em "BodoniStencil2", Helvetica, Arial, sans-serif;
  /* 60px / 16px */

  margin: 0;
  letter-spacing: 0.2em;
  display: inline-block;
  *display: inline;
}
.content-tile .featured-collection-type-02 h1 img {
  width: auto;
}
.content-tile .featured-collection-type-02 h2 {
  font: 1.375em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 22px / 16px */

  letter-spacing: 0;
  margin: 1.7% auto 0.5%;
}
.content-tile .featured-collection-type-02 p {
  margin: 0 auto;
  line-height: 1.3em;
  width: 30%;
  text-transform: none;
}
.content-tile .featured-collection-type-03 {
  /* Subheader, Header (Bodoni) with underline type */

  position: absolute;
  left: 0;
  width: 100%;
  zoom: 1;
  color: #000;
  top: 30%;
}
.content-tile .featured-collection-type-03 h1 {
  text-transform: uppercase;
  padding: 0 0 0.2em 0;
  margin: 0 auto;
  letter-spacing: 0.5em;
  width: auto;
  font-size: 1em;
  /* reset size */

}
.ie9 .content-tile .featured-collection-type-03 h1 {
  letter-spacing: 0.1em;
}
.lt-ie9 .content-tile .featured-collection-type-03 h1 {
  letter-spacing: 0.1em;
}
.lt-ie8 .content-tile .featured-collection-type-03 h1 {
  letter-spacing: 0.4em;
}
.content-tile .featured-collection-type-03 h1 > img {
  width: auto;
}
.content-tile .featured-collection-type-03 h1 span:first-child {
  font: 2.25em "BodoniStencil2", Helvetica, Arial, sans-serif;
  /* 36px/16px */

  display: block;
  width: auto;
  margin: 0 auto;
}
.content-tile .featured-collection-type-03 h1 span:last-child {
  font: 3.75em "BodoniStencil2", Helvetica, Arial, sans-serif;
  /* 60px / 16px */

  border-bottom: 1px solid #000;
  padding: 0;
  display: inline-block;
}
.lt-ie8 .content-tile .featured-collection-type-03 h1 span:last-child {
  *display: inline;
}
.content-tile .featured-collection-type-03 h2 {
  font: 1.375em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 22px / 16px */

  letter-spacing: 0;
  margin: 1.7% auto 0.5%;
}
.content-tile .featured-collection-type-03 p {
  margin: 0 auto;
  line-height: 1.3em;
  width: 35%;
  text-transform: none;
}
.content-tile .featured-collection-type-04 {
  /* Subheader, Header (TradeGothic) with underline type */

  position: absolute;
  left: 0;
  width: 100%;
  zoom: 1;
  color: #000;
  top: 30%;
}
.content-tile .featured-collection-type-04 h1 {
  text-transform: uppercase;
  padding: 0 0 0.2em 0;
  margin: 0 auto;
  letter-spacing: 0em;
  width: auto;
  font-size: 1em;
  /* reset size */

}
.content-tile .featured-collection-type-04 h1 span:first-child {
  font: 1.875em/0.8em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 30px/16px */

  display: block;
  width: auto;
  margin: 0 auto;
}
.content-tile .featured-collection-type-04 h1 span:last-child {
  font: 4.125em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 66px/16px */

  border-bottom: 1px solid #000;
  padding: 0;
  display: inline-block;
  *display: inline;
}
.content-tile .featured-collection-type-04 h2 {
  font: 1.375em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 22px / 16px */

  letter-spacing: 0;
  margin: 1.7% auto 0.5%;
}
.content-tile .featured-collection-type-04 p {
  margin: 0 auto;
  line-height: 1.3em;
  width: 35%;
  text-transform: none;
}
.content-tile .featured-collection-type-05 {
  /* Curve content types (Image, Header, subheader) */

  position: absolute;
  left: 0;
  width: 100%;
  zoom: 1;
  color: #000;
  top: 35%;
}
.content-tile .featured-collection-type-05 h1 {
  font: 2.5em "BodoniStencil2", Helvetica, Arial, sans-serif;
  /* 40px / 16px */

  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  width: auto;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0 auto;
}
.content-tile .featured-collection-type-05 h1 img {
  display: block;
  margin: 0 auto 2%;
  width: auto;
}
.lt-ie8 .content-tile .featured-collection-type-05 h1 img {
  margin-bottom: -20px;
}
.content-tile .featured-collection-type-05 h1 span.curve {
  color: #b3b5b8;
}
.content-tile .featured-collection-type-05 h1 span.subheading {
  font: 0.325em "TradeGothicLTStdCnNo.18", Helvetica, Arial, sans-serif;
  /* 13px / 40px */

  display: block;
  letter-spacing: 0.2em;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 0.4em;
  padding-bottom: 4.5%;
  border-bottom: 1px solid #000;
}
.lt-ie8 .content-tile .featured-collection-type-05 h1 span.subheading {
  padding-bottom: 1.5%;
  width: 30%;
}
.content-tile .featured-collection-type-05 h2 {
  font: 1.375em "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  /* 22px / 16px */

  letter-spacing: 0;
  margin: 1.8% auto 0.5%;
}
.content-tile .featured-collection-type-05 p {
  margin: 0 auto;
  line-height: 1.3em;
  width: 35%;
  text-transform: none;
}
.content-tile .white {
  color: #FFF;
}
.content-tile .white.featured-collection-type-03 h1 span:last-child,
.content-tile .white.featured-collection-type-04 h1 span:last-child {
  border-bottom: 1px solid #FFF;
}
.content-tile .right {
  left: 45%;
  width: 50%;
}
.content-tile .right h2 {
  margin: 3.5% auto 1%;
}
.content-tile .right p {
  width: 60%;
}
.content-tile .left {
  left: 0%;
  width: 50%;
}
.content-tile .left h2 {
  margin: 3.5% auto 1%;
}
.content-tile .left p {
  width: 60%;
}
.content-tile:first-child {
  padding-top: 0;
}
.content-tile:last-child {
  padding-bottom: 0;
  border: none;
}
.content-tile.split img.half {
  width: 49.3%;
}
.content-tile.split img.half:first-child {
  padding: 0 4px 0 0;
  border-right: 1px dotted #555;
}
/**************************************************************************/


.ru .pop-up-international-sizes h1 {
  margin: 1.5em auto 1em;
}


/* ======================
   Size Chart
   ====================== */
.size-chart {
  width: 66.325%;
  /* 906px / 1366px */

  min-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  /* //#gartment-container */

  /* //.international-sizes */

}
.size-chart #garment-label {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  margin: 0 2% 0 0;
}
.size-chart .dk_container {
  margin-bottom: 0;
}
.size-chart .dk_container a {
  text-transform: uppercase;
  min-width: 120px;
  letter-spacing: 1px;
}
.size-chart .dk_container a:hover {
  background-color: #FFF;
  border-bottom-color: #999;
  color: #000;
}
.lt-ie8 .size-chart .dk_container {
  margin-bottom: -10px;
}
.size-chart #garment-select + hr {
  margin: 2em auto 0 !important;
  width: 100% !important;
}
.size-chart hr {
  border-left: none;
  width: 100%;
  border-width: 2px 0 1px 0;
  margin: auto;
  clear: none;
}
.lt-ie8 .size-chart hr {
  height: 6px;
}
.size-chart .garment-container {
  /* //#charts-container */

}
.size-chart .garment-container h3 {
  font-size: 1.75em;
  /* 28px/16px */

  margin: 0.5em auto 0.5em;
}
.size-chart .garment-container div.image-container {
  position: relative;
  margin: 0 0 3px 0;
  /* Mens */

  /* Womens */

}
.lt-ie8 .size-chart .garment-container div.image-container {
  top: 0;
}
.size-chart .garment-container div.image-container p {
  border: none;
  font-size: 1em;
}
.size-chart .garment-container div.image-container img {
  width: 100%;
}
.size-chart .garment-container div.image-container div {
  position: absolute;
  left: 45%;
  top: 3%;
  width: 50%;
}
.size-chart .garment-container div.image-container div p.title {
  text-transform: uppercase;
  font-size: 0.875em;
  /* 14px/16px */

}
.size-chart .garment-container div.image-container div p.description {
  font-size: 0.75em;
  /* 12px/16px */

  margin: 0 auto;
  line-height: 1em;
  width: 80%;
}
.size-chart .garment-container div.image-container p.sub-heading,
.size-chart .garment-container div.image-container p.measure-label {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
}
.size-chart .garment-container div.image-container p.measure-label {
  position: absolute;
  color: #FFF;
}
.size-chart .garment-container div.image-container p#mens-bottoms-waist {
  top: 1.5%;
  left: 9.5%;
}
.size-chart .garment-container div.image-container p#mens-bottoms-seat {
  top: 10%;
  left: 10.5%;
}
.size-chart .garment-container div.image-container p#mens-bottoms-thigh {
  top: 24%;
  left: 8%;
}
.size-chart .garment-container div.image-container p#mens-bottoms-insideleg {
  top: 56%;
  left: 11%;
}
.size-chart .garment-container div.image-container p#mens-tops-neck {
  top: 0%;
  left: 14%;
}
.size-chart .garment-container div.image-container p#mens-tops-chest {
  top: 33.5%;
  left: 10%;
}
.size-chart .garment-container div.image-container p#mens-tops-waist {
  top: 59.5%;
  left: 10.5%;
}
.size-chart .garment-container div.image-container p#mens-tops-seat {
  top: 87%;
  left: 11.5%;
}
.size-chart .garment-container div.image-container p#womens-bottoms-waist {
  top: 1.5%;
  left: 8%;
}
.size-chart .garment-container div.image-container p#womens-bottoms-seat {
  top: 11%;
  left: 31.5%;
}
.size-chart .garment-container div.image-container p#womens-bottoms-thigh {
  top: 18%;
  left: 31.5%;
}
.size-chart .garment-container div.image-container p#womens-bottoms-insideleg {
  top: 40%;
  left: 8.5%;
}
.size-chart .garment-container div.image-container p#womens-tops-neck {
  top: 4%;
  left: 14%;
}
.size-chart .garment-container div.image-container p#womens-tops-chest {
  top: 38.5%;
  left: 10%;
}
.size-chart .garment-container div.image-container p#womens-tops-waist {
  top: 58.5%;
  left: 8.5%;
}
.size-chart .garment-container div.image-container p#womens-tops-seat {
  top: 85%;
  left: 6.5%;
}
.size-chart .garment-container p {
  border: 1px solid #000;
  margin: 0;
  font-size: 0.75em;
  /* 12px/16px */

}
.size-chart .garment-container p strong {
  text-transform: uppercase;
}
.size-chart .garment-container form {
  width: 50%;
  float: left;
  text-align: left;
  margin: 5% 0 0 2.5%;
}
.size-chart .garment-container form input[type='radio'] {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  margin: 0 0 0 -12px;
  width: 0;
  position: absolute;
  left: -9999px;
}
.size-chart .garment-container form input[type='radio'] + label {
  margin: 0 5% 0 0;
  clear: none;
  padding: 0 0 0 18px;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 12px/16px */

  background: url(../img/img-radio.gif) no-repeat 0 0;
}
.size-chart .garment-container form input[type='radio']:checked + label {
  background: url(../img/img-radio-active.gif) no-repeat 0 0;
}
.size-chart .garment-container a {
  float: right;
  font-size: 0.875em;
  /* 14px/16px */

  background: url(../img/noborder-arrow-right.png) no-repeat right center;
  padding-right: 17px;
  margin: 5% 2.5% 0 0;
}
.size-chart .garment-container .charts-container {
  width: 95%;
  position: relative;
  margin: 10px auto 0;
  clear: both;
}
.size-chart .garment-container .charts-container hr {
  border-top: 2px solid #000;
  margin-bottom: 0;
}
.size-chart .garment-container .charts-container h4 {
  text-transform: uppercase;
  margin: 0.2em;
}
.size-chart .garment-container .charts-container table {
  border-top: 1px solid #000;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 10% 0;
}
.size-chart .garment-container .charts-container table colgroup.hover {
  background-color: #F3F3F3;
}
.size-chart .garment-container .charts-container table tr th {
  border-bottom: 1px dotted #000;
  font-size: 0.75em;
  /* 12px/16px */

  border-left: 1px dotted #000;
  padding: 1.2em 0;
  font-weight: normal;
  min-width: 85px;
  line-height: 1em;
}
.size-chart .garment-container .charts-container table tr th span {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  text-transform: none;
  display: block;
}
.size-chart .garment-container .charts-container table tr td {
  font-size: 0.75em;
  /* 12px/16px */

  border-left: 1px dotted #000;
  border-bottom: 1px dotted #d6d5d5;
  min-width: 85px;
  text-transform: none;
}
.size-chart .garment-container .charts-container table tr th.ref,
.size-chart .garment-container .charts-container table tr td.ref {
  font-size: 0.875em;
  /* 14px/16px */

  font-family: "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  border-left: none;
  border-right: 1px solid #000;
  background: url(../img/size-charts/table-bg.jpg) repeat-y right top;
}
.size-chart .garment-container .charts-container table tr:last-child td {
  border-bottom: 1px dotted #000;
}
.size-chart .garment-container .charts-container table tr td.hover,
.size-chart .garment-container .charts-container table tr th.hover {
  background-color: #DADADA;
}
.size-chart .garment-container .charts-container table tr.hover {
  background: #F3F3F3;
}
.size-chart .garment-container .charts-container table tr.hover td.ref {
  background-color: #DADADA;
}
.size-chart .international-sizes hr {
  border-top: none;
  border-left: none;
  margin: -10px 0 2em 0 !important;
  width: 100% !important;
}
.size-chart .international-sizes .garment-container .charts-container hr {
  border-top: 2px solid #000;
  margin: 0 !important;
}
.size-chart .international-sizes .garment-container .charts-container table {
  border-top: none;
}
.size-chart .international-sizes .garment-container .charts-container table tr th {
  border-bottom: 1px solid #000;
}
/* //.size-chart */
.pop-up-international-sizes {
  width: 630px;
  padding: 0 5px;
  position: relative;
  margin: 0 auto;
}
.pop-up-international-sizes #back-cta {
  position: absolute;
  left: 5px;
  top: 10px;
  background: url(../img/noborder-arrow-left.png) no-repeat left center;
  padding-left: 17px;
}
.pop-up-international-sizes h1 {
  font-family: "TradeGothicLTStdBdCnNo.20", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  /* 28px/16px */

  text-transform: uppercase;
  font-weight: normal;
  margin: 0.5em auto 1em;
}
.pop-up-international-sizes > hr {
  border-top: 1px solid #000;
  border-bottom: none;
  margin-bottom: 0;
}
.pop-up-international-sizes .garment-container p {
  border: none;
  text-transform: uppercase;
  margin: 1em;
  font-size: 1em;
}
.pop-up-international-sizes .garment-container .charts-container {
  width: 100%;
}
.pop-up-international-sizes .garment-container .charts-container table {
  margin: 0 0 4% 0;
  border-top: 0;
}
/* //.pop-up-international-sizes */
/**********************
 Template
 **********************/
.pop-up-template {
  min-width: 640px;
}
.pop-up-template #main-container {
  padding: 0;
}
.pop-up-template #main-container .size-chart {
  width: 640px;
  min-width: 640px;
}

  .womens-cover .fit-tool-style-02 h4 {
    text-shadow: 0px 1px 15px #ffffff;
    /*filter: dropshadow(color=#ffffff, offx=0, offy=1);*/
  }

  .womens-cover .fit-tool-style-02 a:hover h4 {
    text-shadow: 0px 1px 15px #000000 !important;
    /*filter: dropshadow(color=#000000, offx=0, offy=1);*/
  }

  .ie9 .womens-cover .fit-tool-style-02 h4,
  .lt-ie9 .womens-cover .fit-tool-style-02 h4,
  .lt-ie8 .womens-cover .fit-tool-style-02 h4,
  .ie9 .womens-cover .fit-tool-style-02 a:hover h4,
  .lt-ie9 .womens-cover .fit-tool-style-02 a:hover h4,
  .lt-ie8 .womens-cover .fit-tool-style-02 a:hover h4 {
    color: #ffffff !important;
  }

 

.standard-one-column-template #main-container .size-chart {
  width: 640px;
  min-width: 640px;
}
.standard-one-column-template #main-container .size-chart p {
  width: auto;
  line-height: normal;
  color: #000;
}
.standard-one-column-template #main-container .size-chart .garment-container div.image-container p.measure-label {
  color: #FFF;
}
.standard-one-column-template #main-container .size-chart .garment-container > p {
  line-height: 2.2em;
}
.standard-one-column-template .size-chart .garment-container .charts-container hr {
  border-style: none;
  border-width: medium;
  width:auto;
  margin:auto;
  border-top: 2px solid #000;
  border-bottom: 1px dotted #000;
  height: 1px;
  margin-bottom: 0;
}

  .fit-tool-dynamic .sub-category-tile a p {
    margin: 1em 0 !important;
  }

  .fit-tool.isolated .fit-tool-heading {
    margin-top: 10% !important;
  }
  
  .fit-tool.isolated .fit-tool-heading p, 
  .fit-tool.isolated .fit-tool-heading h1  {
    color: #ffffff !important;
  }

  .fit-tool.isolated .fit-tool-heading p {
    text-shadow: 0px 1px 5px #000000 !important;
    letter-spacing: 0.22em;
  }

  .fit-tool.isolated .fit-tool-heading h1 {
    text-shadow: 1px 1px 5px #5D5D5D !important;
  }

  .fit-tool.isolated .fit-tool-cover.womens-cover h2 {
    margin-top: 4% !important;
  }

  /* IE7 */
    .lt-ie8 .womens-fit-tool .flex-control-nav li { 
      display: inline !important; 
    }

    .lt-ie8 .womens-fit-tool .flex-control-nav li#manual-controls-init {
      display: none !important; 
    }

    .lt-ie8 .fit-tool-dynamic .sub-category-tile a p {
      margin: 2em 0 0 0 !important;
    }

 /****************/


 /****************************************
  Quickbuy Review Fixes
 *****************************************/

#quickbuy-rating {
  padding: 0px;
  margin: 0px;
}

#quickbuy-rating li {
  display: inline;
  list-style-type: none;
}

#quickbuy-rating li a {
  display: inline;
  font-size: 12px;
}

#quickbuy-rating li a span {
  float: none !important;
}

#quickbuy-rating li a span.prod-info-review-count {
  padding: 0px;
  margin: 0px;
  display: inline !important;
  font-size: 12px !important;
}


/****************************************
  Size Chart font/margin updates
*****************************************/

.size-chart .garment-container div.image-container div p.title {
  font-size: 1em !important; /* 16px/16px */
  margin: 1em auto !important;
}

.size-chart .garment-container div.image-container div p.description {
  font-size: 0.875em !important; /* 14px/16px */
  margin: 1em auto !important;
}

.size-chart .garment-container div.image-container p.sub-heading {
  margin: 1em auto 0 !important;
}

.pop-up-template .size-chart .garment-container div.image-container div p.title {
  font-size: 0.875em !important; /* 14px/16px */
  margin: 0 auto !important;
}

.pop-up-template .size-chart .garment-container div.image-container div p.description {
  font-size: 0.75em !important; /* 12px/16px */
  margin: 0 auto !important;
}

.pop-up-template .size-chart .garment-container div.image-container p.sub-heading {
  margin: 0 auto !important;
}

  .curve-id-result #shop-your-curve #shop-now-form fieldset .shop-options li label p {
    font-size: .85em !important;
  }
  .ru .curve-id-result #shop-your-curve #shop-now-form fieldset .shop-options li label p {
    font-size: .75em !important;
  }

/****************/